<?xml version="1.0"?>

<launch>
 <group ns = "uav1">
     <node pkg="quadrotor_controller" type="quadrotor_controller" name="quadrotor_controller_node" output="screen">
        <remap from="/pose" to="/uav1/pose"/>
        <remap from="/euler" to="/uav1/euler"/>
        <remap from="/cmd_vel" to="/uav1/cmd_vel"/>
        <remap from="/target_marker" to="/uav1/target_marker"/>
        <remap from="/quad_marker" to="/uav1/quad_marker"/>
        <rosparam>
            target_y : 1.0
            target_x : 0.0
        </rosparam>
     </node>
   </group>  

   </launch>